{% extends 'base.html'%}
{% block title %} Contacts {% endblock %}
{% block content %}
  <div class="card col-md-6 mx-auto mt-5">
    <div class="card-header">
      <strong>
        Lista de telefonos
      </strong>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Numero</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        {% for number in list_numbers %}
        <tr>
          <td>{{number.nombre}}</td> 
          <td>{{number.numero}}</td>
          <td>
            <a class="btn btn-warning" href="/edit/{{number.dato_id}}">Editar</a>
            <a class="btn btn-danger" href="/delete/{{number.dato_id}}">Borrar</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
